@import "tailwindcss";

.topicsBox {
  @apply p-4 flex flex-col items-start justify-between rounded-lg w-42 h-42 cursor-pointer bg-black border border-white/10 overflow-hidden relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topicsBox {
  transition: background-color 150ms ease, color 150ms ease,
    transform 150ms ease;
}

.topicsBox:hover {
  transform: translateY(-4px);
}

.topicsBox.active {
  background-color: #fff; /* aktif arka plan rengini buradan ayarlayabilirsiniz */
  color: #000; /* aktif durumda metin ve ikon beyaz olsun */
}
